<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jzj.alarm"
    android:versionCode="11"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 欢迎界面 -->
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Translucent.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 引导界面 -->
        <activity
            android:name=".ui.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent.Fullscreen" />

        <!-- Tips界面 -->
        <activity
            android:name=".ui.TipsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 关于界面 -->
        <activity
            android:name=".ui.AboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 计步器校准界面 -->
        <activity
            android:name=".ui.PedometerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 编辑闹铃界面 -->
        <activity
            android:name=".ui.AlarmEditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 设置界面 -->
        <activity
            android:name=".ui.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 闹铃启动界面 -->
        <activity
            android:name=".ui.AlarmStartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 闹铃暂停/锁定界面 -->
        <activity
            android:name=".ui.AlarmWaitActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 开机启动Receiver -->
        <receiver android:name=".ui.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 闹铃启动Receiver -->
        <receiver android:name=".ui.AlarmReceiver" />

        <!-- 时间变化Receiver -->
        <receiver android:name=".ui.TimeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
    </application>

</manifest>